<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.ThemePreset" title="@Strings.ThemePresetTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ThemeGhostTerminal</listEntry>
            <listEntry value="1">@Strings.ThemeNightOps</listEntry>
            <listEntry value="2">@Strings.ThemeAmberCrt</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
